diff-match-patch
dj-database-url
dj-static
Django
django-bootstrap-form
django-import-export
django-registration
django-toolbelt
gunicorn
psycopg2
static3
tablib
wheel
iron_cache
Django-Select2
django_crontab
