<link rel="stylesheet"  type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    .row {
        margin-right: 0;
        margin-left: 0;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img src="https://menlohacks.com/images/MenloHacksLogo.svg"
             style="width: 10em" class="img-responsive">
    </div>
    <div class="row">
        <p>
            Hello {{ name }}!
            <br>
            Thanks for applying for MenloHacks. You will receive our
            admission decision by February. See you there!
            <br>
            MenloHacks Team
        </p>
    </div>
</div>