{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<h2>Create a MenloHacks account</h2>
<form role="form" method='post' action='.'>
  {% csrf_token %}
  {{ form|bootstrap }}

  <input class="btn btn-success" type="submit" value="Submit" id="submit" />
</form>
    <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
var username = $("#id_username");

username.parent().siblings().html("Email Address");
username.attr("type", "email");
$("#id_email").parent().parent().hide();
username.keyup(function(e) {
    $("#id_email").val(username.val());});

$("form").submit(function(e) {
    return validate();
});
function validate() {
    if (username.val().includes(".edu")) {
        sweetAlert({
                title: "Notice",
                text: "We noticed you are using a .edu email. MenloHacks " +
                "will only accept high school students. Are you sure you " +
                "want to continue?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, I'm a high school student!",
                closeOnConfirm: false
            },
            function () {
                return true;
            },
            function() {
                return false;
            });
    }
    else {
        return true;
    }
}
</script>
{% endblock %}
