{% extends "base.html" %}

{% load bootstrap %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <img src="{% static 'application/MenloHacksIILogo Inverted.svg' %}"
             class="img-responsive" style="width:30%; margin: 0 auto;">
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <div id="application">
                {{ app_form|bootstrap }}
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div id="fileupload">
                    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
                    <input type="filepicker" data-fp-apikey="AvPwlqLN8QAKnPNO8tg38z" onchange="completed(event.fpfile.url)">
            </div>
            <br><br>
            <div class="row text-center">
                <div class="form-group row">
                    <button id="back" class="btn btn-primary btn-app">Back</button>
                    <button type="submit" class="btn btn-primary btn-app">Save</button>
                    <button id="submit-button" type="submit" class="btn btn-warning btn-app">Submit</button>
                </div>
                <p class="help-block">
                    All saved applications will be automatically submitted
                    at midnight on February 15.
                </p>
                <p class="help-block">
                    We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>
<script>
var nonmenlofields = $("#application .form-group:nth-child(-n+3)");
if ({{ismenlo}})  {
    nonmenlofields.hide();
    nonmenlofields.find("textarea").val("N/A (Menlo Student)");
} else {
    nonmenlofields.find("textarea, select").attr("required", true);
    nonmenlofields.find("label").addClass("label-required")
}

var form = false;
$("#id_form_url").hide();
if ($('#id_form_url').val()) {
    $("#fileupload").append("<span style='color:green'>✔</span>");
    form = true;
}
$("#fileupload").appendTo($("#profile > div:nth-last-child(2)"));

function completed(url) {
    $("#id_form_url").val(url);
    $("#fileupload").append("<span style='color:green'>✔</span>");
    form = true;
}



$("#submit-button").click(function(e) {
    if (!form) {
        alert("You must upload the required forms.");
        return false;
    }
    var willSubmit = confirm("Are you sure you want to submit your MenloHacks application?");
    $("#id_submit").val(willSubmit);
    return willSubmit;
});
$("#back").click(function(e) {
    var formData = $("form").serializeArray();
    formData.push({name: "submit", value: false});

    $.post(".", formData, function(data) {
      window.location = "/profile"
    });
});
</script>
{% endblock %}