{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <img src="https://d2b6s0dsvfyqsi.cloudfront.net/menlohacks.svg"
             class="img-responsive" style="width:30%; margin: 0 auto;">
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <div id="application">
                {{ app_form|bootstrap }}
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div id="fileupload">
                {% if is_menlo_django %}
                <p style="color: darkgray; font-style: italic;">
                    In order to complete your MenloHacks registration,
                    please upload a signed copy of <a href="https://d2b6s0dsvfyqsi.cloudfront.net/menlo_liability.pdf" target="_blank">this form</a>. Your registration will not be
                    processed until the form is signed and uploaded.
                </p>
                {% else %}
                <p class="waiver" style="color: darkgray; font-style:
                italic;">
                    For liability reasons, MenloHacks requires you to upload
                    a signed copy of <a href="https://d2b6s0dsvfyqsi.cloudfront.net/liability_non_menlo.pdf" target="_blank">this
                    waiver</a>. As part of that liability waiver, you will
                    need to get an administrator at your school to testify
                    to your character to assure Menlo School of your
                    presence on its campus. Please do not upload the waiver
                    until all portions of it are completed. If the waiver is
                    not uploaded correctly, we cannot consider your for
                    admission to MenloHacks II.
                </p>
                {% endif %}
                <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
                <input type="filepicker" data-fp-apikey="{{api_key}}"
                       onchange="completed(event.fpfile.url)">
            </div>
            <div id="photoupload">
                <p class="waiver" style="color: darkgray; font-style:
                italic;">
                    At MenloHacks II, we will be taking photos and videos
                    throughout the event. In order to attend, you will need to
                    upload a signed copy of this <a href="https://d2b6s0dsvfyqsi.cloudfront.net/photo_release.pdf" target="_blank">photo release
                    form </a>.
                </p>
                    <input type="filepicker" data-fp-apikey="{{api_key}}"
                           onchange="completed_photo(event.fpfile.url)">
            </div>
            <br><br>
            <div class="row text-center">
                <div class="form-group row">
                    <button id="back" class="btn btn-primary btn-app">Back</button>
                    <button id="save" class="btn btn-primary
                    btn-app">Save</button>
                    <button id="submit-button" type="submit" class="btn btn-warning btn-app">Submit</button>
                </div>
                <p class="help-block">
                    All saved applications will be automatically submitted
                    at midnight on February 19.
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>
<script>

var nonmenlofields = $("#application .form-group:nth-child(-n+3)");
if ({{ismenlo}})  {
    nonmenlofields.hide();
    nonmenlofields.find("textarea").val("N/A (Menlo Student)");
} else {
    nonmenlofields.find("textarea, select").attr("required", true);
    nonmenlofields.find("label").addClass("label-required");
    if ($("#id_last_summer").val == "N/A (Menlo Student)") {
        nonmenlofields.find("textarea").val("");
    }
}
$("#application .form-group:last-child label").addClass("label-required");
$("#application .form-group:nth-last-child(2) label").addClass("label-required");

$("form").submit(function(e) {

    var ref = $(this).find("[required]");

    $(ref).each(function(){
        if ( $(this).val() == '' )
        {
            alert("Required field should not be blank.");
            $(this).focus();
            e.preventDefault();
            return false;
        }
    });  return true;
});

var form = false;
var photo_form = false;

$("#id_form_url").hide();
$("#id_photo_form_url").hide();

if ($('#id_form_url').val()) {
    $("#fileupload").append("<span style='color:green'>✔</span>");
    form = true;
}
if ($('#id_photo_form_url').val()) {
    $("#photoupload").append("<span style='color:green'>✔</span>");
    photo_form = true;
}

$("#fileupload").appendTo($("#application > div:nth-last-child(2)"));
$("#photoupload").appendTo($("#application > div:last-child"));

function completed(url) {
    $("#id_form_url").val(url);
    $("#fileupload").append("<span style='color:green'>✔</span>");
    form = true;
}

function completed_photo(url) {
    $("#id_photo_form_url").val(url);
    $("#photoupload").append("<span style='color:green'>✔</span>");
    photo_form = true;
}

$("#save").click(function(e) {
    var formData = $("form").serializeArray();
    formData.push({name: "submit", value: false});
    $.post(".", formData);
});

$("#submit-button").click(function(e) {
    if (!form || !photo_form) {
        alert("You must upload the required forms.");
        return false;
    }
    var willSubmit = confirm("Are you sure you want to submit your MenloHacks application?");
    $("#id_submit").val(willSubmit);
    return willSubmit;
});
$("#back").click(function(e) {
    e.preventDefault();
    var formData = $("form").serializeArray();
    formData.push({name: "submit", value: false});

    $.post(".", formData, function(data) {
        setTimeout(function() {
            window.location.href = ("/profile")
        }, 50);
    });
});
</script>
{% endblock %}