{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <h1 class="text-center">Apply to MenloHacks</h1><br/>
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <h3 class="text-center">Profile Information</h3>
            {{ prof_form|bootstrap }}<br/>
            <h3 class="text-center">Hackathon Application</h3>
            {{ app_form|bootstrap }}
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div class="row text-center">
                <div class="form-group row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 row">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button id="submit-button" type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <p class="help-block">
                    All saved applications will automatically be submitted at 10:00pm on February 28.
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>

<script>
$("#submit-button").click(function(e) {
    var willSubmit = confirm("Are you sure you want to submit your MenloHacks application?");
    $("#id_submit").val(willSubmit);
    return willSubmit;
});
</script>
{% endblock %}