{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <h1 class="text-center">Apply to MenloHacks</h1><br/>
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <h3 class="text-center">Profile Information</h3>
            {{ prof_form|bootstrap }}<br/>
            <div id="application">
                <h3 class="text-center">Hackathon Application (non-Menlo
                    students only)</h3>
                {{ app_form|bootstrap }}
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div class="row text-center">
                <label>
                    <input type="checkbox" id="agree">
                    I agree to the MLH
                    <a target="_blank" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                        Code of Conduct
                    </a><br/><br/>
                </label>
            </div>
            <div class="row text-center">
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary btn-app">Save</button>
                    <button id="submit-button" type="submit" class="btn btn-warning btn-app">Submit</button>
                </div>
                <p class="help-block">
                    All saved applications will be automatically submitted at midnight on March 7.
                </p>
                <p class="help-block">
                    We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>

<script>
$("#submit-button").click(function(e) {
    if(!$("#agree").is(":checked")) {
        alert("You must agree to the MLH Code of Conduct");
        return false;
    }
    var willSubmit = confirm("Are you sure you want to submit your MenloHacks application?");
    $("#id_submit").val(willSubmit);
    return willSubmit;
});
var menlo = false;
var application = $("#application");
var school = $("#id_school");
var selection = $("#application select, #application textarea");
if (school.val() == "Menlo School") {
    application.hide();
    menlo = true;
    selection.removeAttr("required");
}
school.change(function() {
    if (school.val() == "Menlo School") {
        application.hide();
        selection.removeAttr("required");
        menlo = true;
    } else if (menlo) {
        application.show();
        selection.attr("required");
        menlo = false;
    }
})
</script>
{% endblock %}