{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <h1 class="text-center">Apply to MenloHacks</h1><br/>
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <div id="profile">
                <h3 class="text-center">Profile Information</h3>
                {{ prof_form|bootstrap }}
                <br/>
            </div>
            <div id="fileupload">
                    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
                    <input type="filepicker" data-fp-apikey="AvPwlqLN8QAKnPNO8tg38z" onchange="completed(event.fpfile.url)">
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div class="row text-center">
                <label class="label-required">
                    <input type="checkbox" id="agree">
                    I agree to the MLH
                    <a target="_blank" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                        Code of Conduct
                    </a>
                </label>
                <br/><br/>
            </div>
            <div class="row text-center">
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary btn-app">Save</button>
                </div>
                <p class="help-block">
                    We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
{{ prof_form.media }}
</div>
<script>
var form = false;
$(".select2").select2({
        tags: true
    });
$("#id_form_url").hide();
$("#fileupload").appendTo($("#profile > div:nth-last-child(2)"));
$("#submit-button").click(function(e) {
    if(!$("#agree").is(":checked")) {
        alert("You must agree to the MLH Code of Conduct");
        return false;
    }
    if (!form) {
        alert("You must upload the required forms.");
        return false;
    }
    var willSubmit = confirm("Are you sure you want to submit your MenloHacks application?");
    $("#id_submit").val(willSubmit);
    return willSubmit;
});
function completed(url) {
    $("#id_form_url").val(url);
    form = true;
}
</script>
{% endblock %}