{% extends "base.html" %}

{% load bootstrap %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <img src="https://d2b6s0dsvfyqsi.cloudfront.net/menlohacks.svg"
             class="img-responsive" style="width:30%; margin: 0 auto;">
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <div id="profile">
                <h3 class="text-center">Profile Information</h3>
                {{ prof_form|bootstrap }}
                <br/>
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div class="row text-center">
                <label class="label-required">
                    <input type="checkbox" id="agree">
                    I agree to the MLH
                    <a target="_blank" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                        Code of Conduct
                    </a>.
                    I agree to the terms of both the <a href="https://github
                    .com/MLH/mlh-policies/tree/master/prize-terms-and
                    -conditions">MLH Contest Terms and Conditions</a> and
                    the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
                    Please note that you may receive pre and post-event
                    informational e-mails and occasional messages about
                    hackathons from MLH as per the MLH Privacy Policy.
                </label>
                <br/><br/>
            </div>
            <div class="row text-center">
                <div class="form-group row">
                    <button id="save" type="submit" class="btn btn-primary
                    btn-app">Next</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>
<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js">
</script>
<script>
$("form").submit(function(e) {

    var ref = $(this).find("[required]");

    $(ref).each(function(){
        if ( $(this).val() == '' )
        {
            alert("Required field should not be blank.");

            $(this).focus();

            e.preventDefault();
            return false;
        }
    });  return true;
});

var school = $("#id_school");
{% autoescape off %}
    var school_options = {{ schools }};
    if (school.val())
    {
        school_options.push({
            text: school.val(),
            value: school.val()
        });
    }
    school.selectize({
        create: true,
        options: school_options,
        maxItems: 1
    });
    var dietary_restriction = $("#id_dietary_restrictions");
    var diet_options = {{ dietary_restrictions }};
    if (dietary_restriction.val())
    {
        diet_options.push({
        text: dietary_restriction.val(),
        value: dietary_restriction.val()
    });
    }
    dietary_restriction.selectize({
        create: true,
        options: diet_options,
        maxItems: 1 //really shouldn't be, but couldn't figure it out
    });
{% endautoescape %}

if ($("#id_name").val()) {
    $('#agree').prop('checked', true);
}

$("#id_dietary_restrictions-selectized").attr("maxlength", "150");
$("#id_school-selectized").attr("maxlength", "150");

if ({{ ismenlo }}) {
    school.val("Menlo School")
}
$("#save").click(function(e) {
    return validate();
});

function validate() {
    if(!$("#agree").is(":checked")) {
        alert("You must agree to the MLH Code of Conduct");
        return false;
    }
    if (!form) {
        alert("You must upload the required forms.");
        return false;
    }
    return true;
}

</script>
{% endblock %}