{% extends "base.html" %}

{% load bootstrap %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <img src="http://static.menlohacks.s3.amazonaws.com/menlohacks.svg"
             class="img-responsive" style="width:30%; margin: 0 auto;">
        <form role="form" method='post' action='.'>
            {% csrf_token %}
            <div id="profile">
                <h3 class="text-center">Profile Information</h3>
                {{ prof_form|bootstrap }}
                <br/>
            </div>
            <input type="hidden" id="id_submit" name="submit" value="false">
            <div class="row text-center">
                <label class="label-required">
                    <input type="checkbox" id="agree">
                    I agree to the MLH
                    <a target="_blank" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                        Code of Conduct
                    </a>.
                    I agree to the terms of both the <a href="https://github
                    .com/MLH/mlh-policies/tree/master/prize-terms-and
                    -conditions">MLH Contest Terms and Conditions</a> and
                    the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
                    Please note that you may receive pre and post-event
                    informational e-mails and occasional messages about
                    hackathons from MLH as per the MLH Privacy Policy.
                </label>
                <br/><br/>
            </div>
            <div class="row text-center">
                <div class="form-group row">
                    <button id="save" type="submit" class="btn btn-primary
                    btn-app">Next</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
{{ prof_form.media }}
</div>
<script>
var school = $("#id_school");
var old_value = school.val();
{% autoescape off %}
school.select2({
        tags: true,
        data: {{schools}}
});
school.val(old_value);

var dietary_restriction = $("#id_dietary_restrictions");
old_value = dietary_restriction.val();
dietary_restriction.select2({
        tags: true,
        data: {{dietary_restrictions}}
});
dietary_restriction.val(old_value);
{% endautoescape %}
if ($("#id_name").val()) {
    $('#agree').prop('checked', true);
}

if ({{ ismenlo }}) {
    school.val("Menlo School")
}
$("#save").click(function(e) {
    return validate();
});

function validate() {
    if(!$("#agree").is(":checked")) {
        alert("You must agree to the MLH Code of Conduct");
        return false;
    }
    if (!form) {
        alert("You must upload the required forms.");
        return false;
    }
    return true;
}

</script>
{% endblock %}